﻿@model List<Domain.Entities.Issue>
@{
    ViewData["Title"] = "AddIssueToProject";
    int projectId = (int)ViewBag.ProjectId;
}

<h1>Add issues to Project</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Author</th>
            <th scope="col">Executor</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-row">
                <th scope="row" class="employe-id">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Author.FirstName</td>
                <td>@item.Executor.FirstName</td>
                <td>@item.IssueStatus.Name</td>
                <td>
                    <input type="checkbox" name="Checked" class="form-checkbox" />
                </td>
            </tr>


        }
    </tbody>
    <input id="project-id" hidden value="@projectId" />
</table>
<button class="btn btn-secondary" id="add-issue-to-board-btn">Add</button>

@section scripts
{
    <script src="~/js/project-details-page.js"></script>
}