﻿@model Domain.Entities.Issue
@{
    ViewData["Title"] = "EditIssue";
    var employes = (IEnumerable<SelectListItem>)ViewBag.Employes;
    var statuses = (IEnumerable<SelectListItem>)ViewBag.IssueStatuses;
}

<h1>Edit Issue</h1>

<form asp-action="EditIssue" method="post">
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input asp-for="Name" type="text" class="form-control" id="nameInput">
    </div>
    <div class="form-group">
        <label for="customer">Author</label>
        @Html.DropDownListFor(modelItem => modelItem.AuthorId, employes, Model.Author.FirstName,
                                            new { @class = "custom-select" })
    </div>
    <div class="form-group">
        <label for="executorInput">Executor</label>
        @Html.DropDownListFor(modelItem => modelItem.ExecutorId, employes, Model.Executor.FirstName,
                                            new { @class = "custom-select" })
    </div>
    <div class="form-group">
        <label for="startDate">Status</label>
        @Html.DropDownListFor(modelItem => modelItem.IssueStatusId, statuses, Model.IssueStatus.Name,
                                            new { @class = "custom-select" })
    </div>
    <div class="form-group">
        <label for="nameInput">Description</label>
        <input asp-for="Description" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="nameInput">Priority</label>
        <input asp-for="IssuePriority" type="number" class="form-control">
    </div>
    <input hidden asp-for="Id" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>