﻿@model Domain.Entities.Issue
@{
    ViewData["Title"] = "GetIssueDetails";
}

<h1>Get issue details</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Author: @Model.Author.FirstName</p>
        <p class="card-text">Executor: @Model.Executor.FirstName</p>
        <p class="card-text">Description: @Model.Description</p>
        <p class="card-text">Issue status: @Model.IssueStatus.Name</p>
        <p class="card-text">Priority: @Model.IssuePriority</p>
    </div>
</div>