﻿@model List<Domain.Entities.Issue>
@{
    ViewData["Title"] = "Issues";
}

<h1>Issues</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Author name</th>
            <th scope="col">Executor name</th>
            <th scope="col">Issue status</th>
            <th scope="col">Comment</th>
            <th scope="col">Priority</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td><a asp-action="GetIssueDetails" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.Author</td>
                <td>@item.Executor</td>
                <td>@item.IssueStatus.Name</td>
                <td>@item.Description</td>
                <td>@item.IssuePriority</td>
                <td><a type="button" class="btn btn-secondary" asp-route-id="@item.Id" asp-action="EditIssue">Edit</a></td>
                <td><a type="button" class="btn btn-secondary" asp-route-id="@item.Id" asp-action="DeleteIssue">Delete</a></td>
            </tr>


        }
    </tbody>
</table>
<a asp-action="CreateIssue" class="btn btn-secondary">Create</a>