﻿@model Infrastructure.Models.EmployeeCreateModel
@{
    ViewData["Title"] = "CreateEmploye";
}

<h1>Create Employe</h1>

<form asp-action="CreateEmploye" method="post">
    <div class="form-group">
        <label for="nameInput">FirstName</label>
        <input asp-for="FirstName" type="text" class="form-control" id="nameInput">
    </div>
    <div class="form-group">
        <label for="customer">LastName</label>
        <input asp-for="LastName" type="text" class="form-control" id="customer">
    </div>
    <div class="form-group">
        <label for="executorInput">MiddleName</label>
        <input asp-for="MiddleName" type="text" class="form-control" id="executorInput">
    </div>
    <div class="form-group">
        <label for="startDate">Email</label>
        <input asp-for="Email" type="email" class="form-control" id="startDate">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>