﻿@model List<Domain.Entities.Employee>
@{
    ViewData["Title"] = "Index";
}


<h1>Employes</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.MiddleName</td>
                <td>@item.Email</td>
                <td><a type="button" class="btn btn-secondary" asp-route-id="@item.Id" asp-action="EditEmploye">Edit</a></td>
                <td><a type="button" class="btn btn-secondary" asp-route-id="@item.Id" asp-action="DeleteEmploye">Delete</a></td>
            </tr>


        }
    </tbody>
</table>
<a asp-action="CreateEmploye" class="btn btn-secondary">Create</a>