﻿@model List<Domain.Entities.Employee>
@{
    ViewData["Title"] = "AddEmployesToProject";
    int projectId = (int)ViewBag.ProjectId;
}

<h1>Add Employes to project</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-row">
                <th scope="row" class="employe-id" >@item.Id</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.MiddleName</td>
                <td>@item.Email</td>
                <td>
                    <input type="checkbox" name="Checked" class="form-checkbox" />
                </td>
            </tr>


        }
    </tbody>
    <input id="project-id" hidden value="@projectId"/>
</table>
<button class="btn btn-secondary" id="add-users-to-board-btn">Add</button>

@section scripts
{
    <script src="~/js/project-details-page.js"></script>
}
