﻿@model Infrastructure.Models.ProjectCreateEditModel
@{
    ViewData["Title"] = "CreateProject";
    var employes = (IEnumerable<SelectListItem>)ViewBag.Employes;
}

<h1>CreateProject</h1>

<form asp-action="CreateProject" method="post">
    <div class="form-group">
        <label for="nameInput">Project name</label>
        <input asp-for="Name" type="text" class="form-control" id="nameInput">
    </div>
    <div class="form-group">
        <label for="customer">Customer</label>
        <input asp-for="Customer" type="text" class="form-control" id="customer">
    </div>
    <div class="form-group">
        <label for="executorInput">Executor</label>
        <input asp-for="Executor" type="text" class="form-control" id="executorInput">
    </div>
    <div class="form-group">
        <label for="startDate">Start date</label>
        <input asp-for="ProjectStart" type="date" class="form-control" id="startDate">
    </div>
    <div class="form-group">
        <label for="endDate">End date</label>
        <input asp-for="ProjectEnd" type="date" class="form-control" id="endDate">
    </div>
    <div class="form-group">
        <label for="priority">Priority</label>
        <input asp-for="Priority" type="number" class="form-control" id="priority">
    </div>
    <div class="form-group">
        <label for="executorInput">Supervisor</label>
        @Html.DropDownListFor(modelItem => modelItem.SupervisorId, employes,
                                            new { @class = "custom-select" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>