﻿@model Domain.Entities.Project
@{
    ViewData["Title"] = "EditProject";
    var employes = (IEnumerable<SelectListItem>)ViewBag.Employes;
}

<h1>EditProject</h1>


<form asp-action="EditProject" method="post">
    <div class="form-group">
        <label for="nameInput">Project name</label>
        <input asp-for="Name" type="text" class="form-control" id="nameInput">
    </div>
    <div class="form-group">
        <label for="customer">Customer</label>
        <input asp-for="CustomerName" type="text" class="form-control" id="customer">
    </div>
    <div class="form-group">
        <label for="executorInput">Executor</label>
        <input asp-for="ExecutorName" type="text" class="form-control" id="executorInput">
    </div>
    <div class="form-group">
        <label for="startDate">Start date</label>
        <input asp-for="StartDate" type="datetime" class="form-control" id="startDate">
    </div>
    <div class="form-group">
        <label for="endDate">End date</label>
        <input asp-for="EndDate" type="datetime" class="form-control" id="endDate">
    </div>
    <div class="form-group">
        <label for="priority">Priority</label>
        <input asp-for="ProjectPriority" type="number" class="form-control" id="priority">
    </div>
    <div class="form-group">
        <label for="executorInput">Supervisor</label>
        @Html.DropDownListFor(modelItem => modelItem.ProjectSupervisorId, employes, Model.ProjectSupervisor.FirstName,
                                            new { @class = "custom-select" })
    </div>
    <input asp-for="Id" hidden>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>