﻿@model Domain.Entities.Project
@{
    ViewData["Title"] = "ProjectDetails";
}

<h1>Project Details</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Project supervisor: @Model.ProjectSupervisor.FirstName</p>
        <p class="card-text">Customer name: @Model.CustomerName</p>
        <p class="card-text">Executor name: @Model.ExecutorName</p>
        <p class="card-text">Start date: @Model.StartDate</p>
        <p class="card-text">End date: @Model.EndDate</p>
        <p class="card-text">Project priority: @Model.ProjectPriority</p>
    </div>
</div>

<a asp-action="AddEmployesToProject" asp-route-projectId="@Model.Id" style="margin-top:10px; color:aliceblue;" class="btn btn-secondary">Add employes to project</a>
<a asp-action="AddIssueToProject" asp-controller="Issue" asp-route-projectId="@Model.Id" style="margin-top:10px; color:aliceblue;" class="btn btn-secondary">Add issue to project</a>

<h2>Project employes</h2>

@{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Middle name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Employee.FirstName</td>
                    <td>@item.Employee.LastName</td>
                    <td>@item.Employee.MiddleName</td>
                    <td>@item.Employee.Email</td>
                    <td>
                        <a type="button" class="btn btn-secondary"
                           asp-route-projectId="@Model.Id"
                           asp-route-employeId="@item.Employee.Id"
                           asp-action="DeleteEmployeeFromProject">Remove from proj</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<h2>Project issues</h2>

@{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Executor</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Issues)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Author.FirstName</td>
                    <td>@item.Executor.FirstName</td>
                    <td>@item.IssueStatus.Name</td>
                    <td>
                        <a type="button" class="btn btn-secondary"
                           asp-route-projectId="@Model.Id"
                           asp-route-issueId="@item.Id"
                           asp-action="DeleteIssueFromProject"
                           asp-controller="Issue">Remove from proj</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}