﻿@model List<Domain.Entities.Project>
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Customer name</th>
            <th scope="col">Executor name</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Priority</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.Id</th>
            <td><a asp-action="GetProjectDetails" asp-route-id="@item.Id">@item.Name</a></td>
            <td>@item.CustomerName</td>
            <td>@item.ExecutorName</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.ProjectPriority</td>
            <td><a type="button" class="btn btn-secondary" asp-route-id="@item.Id" asp-action="EditProject">Edit</a></td>
            <td><a type="button" class="btn btn-secondary" asp-route-id="@item.Id" asp-action="DeleteProject">Delete</a></td>
        </tr>


        }
    </tbody>
</table>
<a asp-action="CreateProject" class="btn btn-secondary">Create</a>
